{% load staticfiles %}
<html>
    <head>
        <title>Maxonchik RM</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/trash.css' %}">
        <link rel="stylesheet" href="{% static 'css/dist/themes/default/style.min.css' %}">
        <script src="{% static 'css/dist/jstree.min.js' %}"></script>


    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Maxonchik RM with trashes</a></h1>
            <h1><a href="/tasks">Tasks</a></h1>
            <h1><a href="/regex">New regex</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>