{% extends 'trash/base.html' %}

{% block content %}
    <h1>New regular expression</h1>
    <form method="POST" class="regex-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-default btn-md">Start</button>
    </form>
{% endblock %}