{% extends 'trash/base.html' %}
{% block title %}
    {{ trash.name }}
{% endblock %}

{% block content %}
    <div class="regex">
        <a class="btn btn-default" href="{% url 'regex_edit' pk=regex.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ regex.trash_obj }}</h1>
        <p>{{ regex.directory|linebreaksbr }}</p>
        <p>{{ regex.reg_ex|linebreaksbr }}</p>
        <form>
            <button type="submit" class="btn btn-default btn-md" name="run" value="run">run</button>
        </form>
    </div>
{% endblock 