{% extends 'trash/base.html' %}

{% block content %}
    <h1>New task</h1>
    <form method="POST" class="task-form">{% csrf_token %}

        {{ form.as_p }}

        <div id="jstree_demo_div"></div>

        <button id="saveButton" disabled="true" type="submit" class="save btn btn-default">Run</button>
    </form>
     <div id="jstree">

  </div>
  <button id="applyButton">Choose files</button>

  <script type='text/javascript'>
    var json_tree = {{json_tree|safe}}
    $('#jstree').jstree({
        'core' : {
            'data' : json_tree
        },
        "checkbox" : {
            "keep_selected_style" : true
        },
    });

    $('#applyButton').on('click', function (event) {
        event.preventDefault();
        var selectedElmsIds = $('#jstree').jstree("get_selected");
        $('#saveButton').prop('disabled', false);
        var data = {
            files : selectedElmsIds
        };
        console.log(data);
        $.post('add_task', data);
    });
  </script>
{% endblock %}