{% extends 'trash/base.html' %}
{% block title %}
    {{ task.name }}
{% endblock %}

{% block content %}
    <div class="task">
        <h1>{{ task.trash_obj }}</h1>
        <form method="POST" class="task-form">{% csrf_token %}
            {% for file in files %}
                <div>
                    <p>{{ file }}</p>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-default btn-md" name="del" value="del">delete task</button>

        </form>

    </div>
{% endblock %}