{% extends 'trash/base.html' %}

{% block content %}
    <a href="{% url 'task_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% for task in tasks %}
        <div class="task">
             <h1><a href="{% url 'task_detail' pk=task.pk %}">{{ task.trash_obj.name }}</a></h1>
            <p>{{ task.task_status }}</p>
        </div>
    {% endfor %}
{% endblock content %}