{% extends 'trash/base.html' %}
{% block title %}
    {{ trash.name }}
{% endblock %}

{% block content %}
    <div class="trash">
        <a class="btn btn-default" href="{% url 'trash_edit' pk=trash.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ trash.name }}</h1>
        <p>{{ trash.path|linebreaksbr }}</p>
        <table class="table">
            <thead>
            <tr><th>Files</th></tr>
            </thead>
            <tbody>
            <form method="POST" class="trash-form">{% csrf_token %}
                <button class="save btn btn-default" type="submit" name="del_trash">delete trash</button>
                <button class="save btn btn-default" type="submit" name="clean_trash">clean trash</button>

            </form>
             {% for f in trash.files_list %}
                    <tr>
                        <td>{{ f }}</td>
                        <form method="POST" class="trash-form">{% csrf_token %}
                            <td>
                                <button class="save btn btn-default" type="submit" name="del" value="{{ f }}">delete</button>
                            </td>
                            <td>
                                <button class="save btn btn-default" type="submit" name="rest" value="{{ f }}">restore</button>
                            </td>
                        </form>
                    </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}