{% extends 'trash/base.html' %}

{% block content %}
    <a href="{% url 'trash_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% for trash in trashs %}
        <div class="trash">
             <h1><a href="{% url 'trash_detail' pk=trash.pk %}">
                 {{ trash.name }}
             </a></h1>
            <p>{{ trash.path|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock content %}