{% extends 'trash/base.html' %}

{% block content %}
    <h1>This trash</h1>
    <form method="POST" class="trash-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}